{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/all",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["webpack.*.js", "**/*.png", "**/*.jpg"],
  "rules": {
    "max-statements": "off",
    "one-var": "off",
    "func-style": ["error", "declaration"],
    "prefer-template": "off",
    "sort-keys": "off",
    "no-magic-numbers": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "quotes": ["error", "double"],
    "id-length": "off",
    "no-undefined": "off",
    "init-declarations": "off", // With TS, you can declare external variables, so you would not initialize
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "react/jsx-no-literals": "off",
    "react/require-default-props": "off",
    "react/jsx-max-depth": ["error", { "max": 6 }],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
