{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/all",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "webpack.*.js",
    "**/*.png",
    "**/*.bmp",
    "**/*.jpg",
    "**/*.svg"
  ],
  "rules": {
    "max-statements": "off",
    "one-var": "off",
    "func-style": ["error", "declaration"],
    "prefer-template": "off",
    "sort-keys": "off",
    "no-magic-numbers": "off",
    "no-ternary": "off",
    "no-underscore-dangle": "off",
    "line-comment-position": "off",
    "no-unused-vars": "off",
    "quotes": ["error", "double", { "avoidEscape": true }],
    "id-length": "off",
    "no-inline-comments": "off",
    "no-undefined": "off",
    "no-shadow": "off",
    "init-declarations": "off", // With TS, you can declare external variables, so you would not initialize
    "max-lines-per-function": ["error", { "max": 70 }],
    "dot-notation": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "react/jsx-no-literals": "off",
    "react/require-default-props": "off",
    "react/jsx-max-depth": ["error", { "max": 6 }],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-shadow": "error"
  }
}
